* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

 body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #fff;
}
 .bg-1 {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #fff;
}
/* NAVBAR */
.navbar {
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(2,6,23,0.6);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.hero-content {
  text-align: center;
  max-width: 600px;
}

.hero h1 {
  font-size: 52px;
  background: linear-gradient(90deg, #7c3aed, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h2 {
  font-size: 32px;
  margin: 10px 0;
}

.hero p {
  opacity: 0.75;
  margin-bottom: 35px;
}

/* BUTTONS */
.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  text-decoration: none;
  padding: 14px 34px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}

.primary {
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: #000;
}

.outline {
  border: 2px solid #22c55e;
  color: #22c55e;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(34,197,94,0.3);
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
}

.feature {
  text-align: center;
  max-width: 160px;
}

.feature span {
  font-size: 30
}